*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.gridbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 520px;
    background-color: rgb(255, 255, 255);
}
.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    width: 100%;
    padding: 15px;
}
.inputvalue{
    width: 40px;
    margin-left: 10px;
}
.btn{
    font-size: 16px;
    font-weight: 800;
    margin-left: 10px;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(77, 144, 243);
    color: white;
}
.inputsubbox{
    display: flex;
}
.radio{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.radiodiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}